body {
    background-color:lightgrey;
}

/*#title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}

#palette-container { 
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    position: absolute;
}

#first {
    display:inline-block;
    padding-bottom: 20px;
    background-color: black;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#second {
    background-color: purple;
}

#third {
    background-color: fuchsia;
}

#fourth {
    background-color: blueviolet;
} */