body {
    background-color:lightgrey;
}

#title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: italic;
    text-align: center;
}

#color-palette {
    position: absolute;
    display: flex;
    gap: 2px;
    margin: auto;
    width: 700px; 
    left: 250px;
}

.color {
    display:inline-block;
    padding-bottom: 20px;
    background-color: black;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#color1 {
    background-color: purple;
}

#color2 {
    background-color: fuchsia;
}

#color3 {
    background-color: blueviolet;
}